.portfolio-card{
    width: 24%;
    margin: 0px 4px;
    height: 150px;
    border: 1px solid #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 400;
    padding: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    
  
}

.portfolio-card h3{
    width: 100%;
    font-size: 14px;
    color:#fff;
    text-align: center;
}

.portfolio-card h2 a{
    color: #3F4145;
    transition: all 0.2s;
}

.portfolio-card:hover h2 a{
    color:#fff;
}

