*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;

}

html{
  scroll-behavior: smooth;
}


.container-flex{
  width: 94%;
  margin: 0px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

body:before {
  content: "";
  width: 571px;
  height: 100%;
  position: fixed;
  margin-left: 35%;
  border-left: 1px solid #d1d1d116;
  border-right: 1px solid #d1d1d116;
  top: 0;
  opacity: 1;
  z-index: 40;
}

.App{
  overflow: hidden;
}

@media(max-width:600px){
  .container-flex {
    width: 100%;
    margin: 0px auto;
    padding: 0px 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
}